<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>projectGDMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/jsp/gdmshome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <servlet-class>org.junitee.servlet.JUnitEEServlet</servlet-class>
    <init-param>
      <param-name>searchResources</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JUnitEETestServlet</servlet-name>
    <url-pattern>/TestServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddingGiftController</display-name>
    <servlet-name>AddingGiftController</servlet-name>
    <servlet-class>cts.gdms.controller.AddingGiftController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddingGiftController</servlet-name>
    <url-pattern>/addgift</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGiftContraoller</display-name>
    <servlet-name>AddGiftContraoller</servlet-name>
    <servlet-class>cts.gdms.controller.AddGiftContraoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGiftContraoller</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>cts.gdms.initializer.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkstatuscontroller</display-name>
    <servlet-name>Checkstatuscontroller</servlet-name>
    <servlet-class>cts.gdms.controller.Checkstatuscontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkstatuscontroller</servlet-name>
    <url-pattern>/Checkstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>cts.gdms.controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Giftsearch</display-name>
    <servlet-name>Giftsearch</servlet-name>
    <servlet-class>cts.gdms.controller.Giftsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Giftsearch</servlet-name>
    <url-pattern>/gfs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryReportController</display-name>
    <servlet-name>DeliveryReportController</servlet-name>
    <servlet-class>cts.gdms.controller.DeliveryReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryReportController</servlet-name>
    <url-pattern>/dreportcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockReportController</display-name>
    <servlet-name>StockReportController</servlet-name>
    <servlet-class>cts.gdms.controller.StockReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockReportController</servlet-name>
    <url-pattern>/StockRController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>cts.gdms.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryUpdateController</display-name>
    <servlet-name>DeliveryUpdateController</servlet-name>
    <servlet-class>cts.gdms.controller.DeliveryUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryUpdateController</servlet-name>
    <url-pattern>/updatecontrol</url-pattern>
  </servlet-mapping>
</web-app>